name: Say hello!
on: 
  push:
    branches:
      - main

jobs: 
  hello_world: 
    runs-on: ubuntu-18.04
    steps:
      - run: | 
          echo "Hello World!"
      - run: date
      - run: ls -l
    