name: Deployment Pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]
jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - name: Install dependencies --no-audit --no-fund --no-optional
        run: npm ci
      - name: Eslint 
        run: npm run eslint 
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
      - name: E2E test
        uses: cypress-io/github-action@v4
        with:
          command: npm run test:e2e
          start: npm run start-test
          wait-on: http://localhost:3001
      - name: Deploy to Heroku
        if: ${{ github.event_name =='push'}}
        uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{secrets.HEROKU_APP}} #Must be unique in Heroku
          heroku_email: ${{secrets.HEROKU_API_EMAIL}}
          healthcheck: "https://${{secrets.HEROKU_APP}}.herokuapp.com/health"
          rollbackonhealthcheckfailed: true



#  /c/xampp/htdocs/pokedex-for-ci
# Token
#  1eb563e8-40b0-4605-9cd1-20856c453b44